# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask & DB
instance/
.webassets-cache
.env
todo.db
# (Optional: keep todo.db if you want to share sample data, but usually gitignore it)

# Virtual Env
venv/
ENV/

# IDE
.vscode/
.idea/
